:root {
    --ym-ai-primary-color: #388eff;
    --ym-ai-light-primary-color: rgba(56,142,255,.5);
    --ym-ai-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}